h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 920px) {
    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1128px;
    }
}

@media only screen and (min-width: 1920px) {
    .container {
        width: 1400px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 16px;
    }
}

div {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: unset;
}

.d-flex {
    display: flex;
}

.header{
    background-color: #2c3e50;
    color: #FFFFFF;
    padding: 30px 0;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-part{
    display: flex;
    gap: 20px;
    font-weight: 600;
}
.header .header-mobile{
    display: none;
}
.banner{
    background-color: #1abc9c;
    padding: 50px 0;
    color: #FFFFFF;
}
.banner .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.banner .container h1{}
.banner img{
    width: 200px;
    height: 200px;
}

.portfolio{
    padding: 50px 0;

}
.portfolio .container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.portfolio .list-image{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    
}
.portfolio .list-image img{
    width: 100%;
}

.about{
    background-color: #1abc9c;
    color: #FFFFFF;
    padding: 50px 0;
}

.about .container{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}


.about .container .content{
    display: flex;
    gap: 50px;
    padding: 0 260px;
}

.about .container .content p{
    line-height: 25px;
}

.about .container button{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 16px 16px;
    color: #FFFFFF;
    background-color: transparent   ;
}

.contact{
    padding: 100px 0;
}
.contact .container{
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.contact .container .form-box{
    padding: 0 260px;
    width: 100%;

}

.contact .container .form-box input[type="submit"]{
    background-color: #1abc9c;
    padding: 16px;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.form-group input,.form-group textarea{
    border-top: 0;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    font-size: 16px;
    writing-mode: vertical-rl;
    resize: none;


    
}

.form-group input:focus-visible,.form-group textarea:focus-visible{
    border-top: 0;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    outline: none;

}



footer{
    background-color: #2c3e50;
    color: #FFFFFF;
    padding: 50px 0;
}
footer .container{
    justify-content: space-between;
}
footer .container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3); 
    gap: 10px;
}

footer .container > div > p{
    text-align: center;
}
footer .container > div > span {
    color: #1abc9c;
}

.copyright{
    background-color: #1a252f;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .header .header-part.right{
        display: none;
    }
    .header .header-part.left h1{
        font-size: 22px;
    }
    .header .header-mobile{
        display: block;
        background-color: #1abc9c;
        padding: 16px;
        border-radius: 8px;
    }
    
    .portfolio .list-image{
        grid-template-columns: auto;
    }
    .about .container .content{
        padding: 0;
        flex-direction: column;
    }

    .contact .container .form-box{
        padding: 0;
    }
    footer .container{
        flex-direction: column;
        gap: 20px;
    }
    footer .container > div{
        width: 100%;
    }
}